@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Bienvenido al taller Billy</h2>
        <p>Su taller de confianza</p>
        <div align="center"><img src="~/images/Logo2.png"></div>
    </div>
</div>
