@using SampleMvcApp.Models.Mauricio;
@model SampleMvcApp.Models.Mauricio.Consulta
@{
    ViewData["Title"] = "CategoriasAgregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoriasAgregar</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <h2>Añadir Categoria</h2>
        <form action="../Home/GuardarCategoria" method="POST">
            <div class="form-group">
                <select name="cmbFamilias">
                    @{
                        foreach (SampleMvcApp.Models.Mauricio.Familia familia in Model.GetFamilias())
                        {
                            <option value="@familia.GetNombre()">@familia.GetNombre()</option>
                        }
                    }
                </select>

            </div>
            <div class="form-group">
                <label for="txtNombre">Nombre</label>
                <input class="form-control" id="txtNombre" name="txtNombre" type="text" value="">
            </div>
            <div class="form-group">
                <label for="txtDescripcion">Descripcion</label>
                <input class="form-control input-lg" id="txtDescripcion" name="txtDescripcion" type="text" value="">
            </div>
            <input type="submit" value="Guardar" />
        </form>
    </div>
</body>
</html>
