
@{
    ViewData["Title"] = "FamiliasAgregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Añadir Familia</h2>
        <form action="../Home/GuardarFamilia" method="POST">
            <div class="form-group">
                <label for="txtNombre">Nombre</label>
                <input class="form-control" id="txtNombre" name="txtNombre" type="text" value="">
            </div>
            <div class="form-group">
                <label for="txtDescripcion">Descripcion</label>
                <input class="form-control input-lg" id="txtDescripcion" name="txtDescripcion" type="text" value="">
            </div>
            <input type="submit" value="Guardar" />
        </form>
    </div>
</body>
</html>
