@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Acceso denegado.</h1>
    <p class="text-danger">Usted no tiene los permisos necesarios acceder a este servicio.</p>
</header>
